---
import Layout from '../../layouts/Layout.astro';
import { ghostClient } from '../../lib/ghost';

export async function getStaticPaths() {
    try {
        const posts = await ghostClient.posts.browse({
            limit: 'all',
            include: 'tags,authors'  // Including tags and authors to see all related data
        });
        
        console.log(posts);  // Logging the posts to see the data structure

        return posts.map(post => ({
            params: { slug: post.slug },
            props: { post }
        }));
    } catch (err) {
        console.error(err);
        return [];
    }
}

const { post } = Astro.props;
---

<Layout title={post.title}>

    <div class="site-content">
        <article class="article post">
            <div class="article-header gh-canvas">
                <h1 class="article-title">{post.title}</h1>
                <div class="article-byline">
                    {post.primary_author && (
                        <section class="article-byline-content">
                            <ul class="author-list">
                                <li class="author-list-item">
                                    <div class="author-avatar">
                                        {post.primary_author.profile_image && (
                                            <img class="author-profile-image" src={post.primary_author.profile_image} alt={`Read more of ${post.primary_author.name}`} />
                                        )}
                                    </div>
                                </li>
                            </ul>
                            <div class="article-byline-meta">
                                <h4 class="author-name">
                                    <span> {/* This link will go nowhere */}
                                        {post.primary_author.name}
                                    </span>
                                </h4>
                                <time class="byline-meta-date" datetime={post.published_at}>
                                    {new Date(post.published_at).toLocaleDateString('en-US', {
                                        month: 'short', // "short" for abbreviated month name.
                                        day: '2-digit',  // "2-digit" to ensure the day is always two digits.
                                        year: 'numeric' // "numeric" to display the full year.
                                    })}
                                </time>
                                <span class="byline-reading-time">
                                    <span class="bull">•</span>
                                    {post.reading_time} min read
                                </span>
                            </div>
                        </section>
                    )}
                </div>
                <figure class="article-image">
                    <img src={post.feature_image} alt={post.title} />
                    <!-- <figcaption><span style="white-space: pre-wrap;"></span></figcaption> -->
                </figure>
            </div> <!-- This is the closing tag for <div class="article-header gh-canvas"> -->
    

    
            <section class="gh-content gh-canvas">
                <Fragment set:html={post.html} />
            </section>
        </article>
    </div>
    

</Layout>


<style is:global>

</style>